.exploreBtn {
	display: flex;
	margin: 0 auto;
	margin-top: 80px;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	border-radius: 100%;
	text-align: center;
	color: #0b0d17;
	background-color: #fff;
	width: 150px;
	height: 150px;
	font-weight: normal;
	font-size: 20px;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	border: 90px solid rgba(255, 255, 255, 0);
}

/* .exploreBtn:hover {
	border: 90px solid rgba(255, 255, 255, 0.1);
} */
