.exploreBtn {
	display: flex;
	margin: 0 auto;
	margin-top: 80px;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	border-radius: 100%;
	text-align: center;
	color: #0b0d17;
	background-color: #fff;
	width: 150px;
	height: 150px;
	font-family: 'Bellefair' sans-serif !important;
	font-weight: normal;
	font-size: 20px;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	border: 90px solid rgba(255, 255, 255, 0);
}

@media (min-width: 1023px) {
	.exploreBtn {
		border: 90px solid rgba(255, 255, 255, 0);
		cursor: pointer;
		margin: 0 0;
		margin-right: 30px;
	}

	.exploreBtn:hover {
		border: 90px solid rgba(255, 255, 255, 0.2);
	}
}
