* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@import url('./styles/base/fonts.css');

:root {
	--uptitle-home-color: #ffffff;
	--descr-color: #d0d6f9;
	--bg-color: #0b0d17;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@import url('./styles/blocks/header.css');
@import url('./styles/blocks/hamburger.css');

h1 {
	margin-top: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.swiper__technology .swiper-wrapper {
	min-height: 25vh;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.page {
	padding-bottom: 2rem;
	text-align: center;
	min-height: 100vh;
	padding-top: 112px;
}

.home {
	background: url('../public/img/home-bg/background-home-mobile.jpg') center
		center/cover no-repeat;
}

.technology {
	background: url('../public/img/technology-bg/background-technology-mobile.jpg')
		center center/cover no-repeat;
}

.home__uptitle {
	font-family: 'BarlowCondensed';
	font-weight: 400;
	color: var(--descr-color);
	letter-spacing: 2.725px;
}

.page__title_main {
	font-family: 'Bellefair' sans-serif;
	font-weight: 400;
}

.page__uptitle {
	font-family: 'BarlowCondensed';
	font-weight: 400;
	color: var(--uptitle-home-color);
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 2.725px;
}

.page__uptitle span {
	color: var(--uptitle-home-color);
	letter-spacing: 2.7px;
	mix-blend-mode: normal;
	opacity: 0.25;
}

.page__title {
	font-family: 'Bellefair' sans-serif;
	font-weight: 400;
	color: var(--uptitle-home-color);
	text-transform: uppercase;
}

.page__title_main {
	font-size: 100px;
	font-family: 'Bellefair' sans-serif;
	font-weight: 400;
	color: #ffffff;
}

.page__descr {
	font-family: 'Barlow';
	color: var(--descr-color);
	font-weight: 400;
	font-size: 15px;
	line-height: 25px;
}

.page__role {
	font-family: 'Bellefair' sans-serif;
	font-weight: 400;
	margin-top: 15px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	text-transform: uppercase;
	color: #ffffff;
	mix-blend-mode: normal;
	opacity: 0.5;
}

.page__fullName {
	font-family: 'Bellefair' sans-serif;
	font-weight: 400;
	margin-top: 0px;
	font-style: normal;
	font-size: 24px;
	text-transform: uppercase;
	color: #ffffff;
}

.page__underSlider {
	font-family: 'BarlowCondensed';
	font-style: normal;
	font-weight: 400;
	margin-top: 15px;
	font-weight: normal;
	font-size: 14px;
	color: var(--descr-color);
}

.destination {
	background: url('../public/img/destination-bg/background-destination-mobile.jpg')
		center center/cover no-repeat;
}

.destination__pagination {
	max-width: 285px;
	width: 70% !important;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-top: 15px;
}

.divider {
	background-color: #383b4b;
	margin-top: 2rem;
}

.divider__slider {
	background-color: #fff;
	height: 1px;
	opacity: 0.5;
}

.destination__adventure {
	font-family: 'BarlowCondensed';
	letter-spacing: 2.3625px;
	font-weight: 400;
	font-size: 28px;
	text-transform: uppercase;
	color: #ffffff;
}

.destination__adventure span {
	letter-spacing: 2.3625px;
	text-transform: uppercase;
	color: #d0d6f9;
	font-weight: 400;
	font-size: 14px;
}

.planets {
	margin-top: 2rem;
	width: 100%;
}

.planet {
	width: 100%;
	height: auto;
}

.swiper {
	margin-top: 30px;
}

.paginationPlanet__elem {
	font-family: 'BarlowCondensed' sans-serif;
	color: var(--descr-color);
	font-weight: 400;
	height: 36px;
	padding-top: 15px;
	font-size: 14px;
	position: relative;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 0.7px;
}

.paginationPlanet__elem_active {
	color: #ffffff;
	font-weight: 400;
	height: 36px;
	padding-top: 15px;
	font-size: 14px;
	position: relative;
}

.paginationPlanet__elem_active::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	background: #ffffff;
	height: 3px;
	width: 100%;
	opacity: 1;
}

.paginationTeam__elem {
	border-radius: 100%;
	width: 10px;
	height: 10px;
	background-color: #fff;
	mix-blend-mode: normal;
	opacity: 0.17;
	cursor: pointer;
}

.paginationTeam__elem_active {
	opacity: 1;
}

.paginationTechnology__elem {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: 1px solid rgba(255, 255, 255, 0.25);
	color: #fff;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	letter-spacing: 1px;
	cursor: pointer;
}

.paginationTechnology__elem_active {
	color: var(--bg-color);
	background-color: #fff;
}

.crew__pagination {
	height: 20px;
	width: 100px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 15px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 30px;
}
.swiper__pagination.tecnology__pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
	max-width: 160px;
}

.swiper__pagination.team__pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
	width: 100px;
}

.swiper.swiper__technology {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.swiper__pagination.technology__pagination {
	display: flex;
	flex-direction: row;
	max-width: 150px;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 30px;
}

.crew {
	background: url('../public/img/crew-bg/background-crew-mobile.jpg') center
		center/cover no-repeat;
}

.swiper.swiper__crew .swiper-wrapper .swiper-slide {
	width: 100%;
}

img.Douglas {
	max-width: 342px;
	width: 70% !important;
}

img.Mark {
	max-width: 288px;
}

img.Victor {
	max-width: 314px;
}

img.Anousheh {
	max-width: 341px;
}

.swiper__destination .swiper-wrapper .swiper-slide img {
	width: 65% !important;
	max-width: 445px;
}

@media (min-width: 400px) {
	.swiper__technology .swiper-wrapper {
		min-height: 30vh;
	}
}

@media (min-width: 470px) {
	.swiper__technology .swiper-wrapper {
		min-height: 35vh;
	}
}

@media (min-width: 530px) {
	.swiper__technology .swiper-wrapper {
		min-height: 40vh;
	}
}

@media (min-width: 600px) {
	.swiper__technology .swiper-wrapper {
		min-height: 45vh;
	}
}

@media (min-width: 670px) {
	.swiper__technology .swiper-wrapper {
		min-height: 50vh;
	}
}

@media (min-width: 740px) {
	.swiper__technology .swiper-wrapper {
		min-height: 55vh;
	}
}

@media (min-width: 810px) {
	.swiper__technology .swiper-wrapper {
		min-height: 60vh;
	}
}

@media (min-width: 880px) {
	.swiper__technology .swiper-wrapper {
		min-height: 65vh;
	}
}
@media (min-width: 950px) {
	.swiper__technology .swiper-wrapper {
		min-height: 70vh;
	}
}

@media (min-width: 570px) {
	.swiper.swiper__crew .swiper-wrapper .swiper-slide {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.page__fullName {
		font-size: 35px;
	}

	.page__role {
		font-size: 25px;
	}

	.page__descr {
		font-size: 16px;
	}

	.crew__text {
		order: -1;
	}

	.pageTextAndPagination__crew {
		order: -1;
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	img.Douglas {
		max-width: 420px;
		width: 70%;
	}

	img.Mark {
		width: 50% !important;
		max-width: 388px;
	}

	img.Victor {
		max-width: 370px;
		width: 60% !important;
	}

	img.Anousheh {
		max-width: 380px;
		width: 60% !important;
	}

	.page {
		padding-top: 96px;
		text-align: left;
	}
	.home {
		background: url('../public/img/home-bg/background-home-tablet.jpg')
			center center/cover no-repeat;
		text-align: center;
	}
	.home .page__descr {
		text-align: center;
	}
	.crew {
		background: url('../public/img/crew-bg/background-crew-tablet.jpg')
			center center/cover no-repeat;
		padding-bottom: 0;
	}
	.destination {
		background: url('../public/img/destination-bg/background-destination-tablet.jpg')
			center center/cover no-repeat;
	}

	.technology {
		background: url('../public/img/technology-bg/background-technology-tablet.jpg')
			center center/cover no-repeat;
	}

	.page .page__uptitle {
		margin-top: 50px;
	}
	.technology {
		background: url('../public/img/technology-bg/background-technology-tablet.jpg')
			center center/cover no-repeat;
	}

	.swiper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.swiper.swiper__crew {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.swiper__destination .swiper-wrapper .swiper-slide {
		width: 100% !important;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.swiper__destination .swiper-wrapper .swiper-slide img {
		width: 55% !important;
		max-width: 445px;
	}

	header {
		display: flex;
		align-items: center;
		width: 100%;
		height: 95px;
		padding-left: 2rem;
		top: 0;
	}

	.swiper__pagination.tecnology__pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
		max-width: 170px;
	}

	.paginationTechnology__elem {
		width: 45px;
		height: 45px;
	}

	.pageTextAndPagination {
		position: relative;
		text-align: center;
		max-width: 458px;
	}

	.pageTextAndPagination.pageTextAndPagination__destination {
		max-width: 537px;
		margin: 0 auto;
	}

	.paginationPlanet__elem {
		padding-top: 0;
		font-size: 16px;
	}

	.destination__travel {
		display: flex;
		justify-content: space-around;
	}

	header {
		height: 96px;
		top: 0;
		width: 100%;
	}

	nav .brand-logo.left {
		left: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	nav ul a {
		padding: 0;
	}

	nav ul li.mobile {
		display: none;
	}

	nav ul li.dekstop {
		position: relative;
		display: block;
		height: 100%;
		display: flex;
		align-items: center;
		padding: 0 15px;
		justify-content: center;
		text-transform: uppercase;
		letter-spacing: 2.3625px;
	}

	nav ul li.dekstop.dekstop_active::before {
		content: '';
		height: 3px;
		left: 15px;
		right: 15px;
		position: absolute;
		bottom: 0;
		background: white;
		z-index: 2;
	}

	.transparent {
		height: 100%;
	}

	nav .nav-wrapper {
		display: flex;
		justify-content: end;
		align-items: center;
	}

	ul:not(.browser-default) {
		padding-right: 1.5rem;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(255, 255, 255, 0.04);
		backdrop-filter: blur(81.5485px);
		min-width: 450px;
		width: 65%;
	}

	.home__text {
		width: 450px;
		margin: 0 auto;
		margin-top: 105px;
	}

	.page__title_main {
		font-weight: normal;
		font-size: 150px;
	}

	.divider__slider {
		display: none;
	}
}

@media (min-width: 1023px) {
	header {
		top: 40px;
	}

	ul:not(.browser-default) {
		backdrop-filter: blur(22.5485px);
	}

	nav ul li.dekstop span {
		display: inline;
		font-weight: 700;
	}

	.page {
		padding-top: 135px;
		padding-bottom: 50px;
	}

	.divider-header {
		position: absolute;
		left: 10%;
		height: 1px;
		width: 28%;
		background: rgba(255, 255, 255, 0.25);
		z-index: 20;
	}

	.swiper__destination .swiper-wrapper {
		width: 50% !important;
	}

	.home.page {
		padding: 0 10%;
		padding-top: 135px;
		padding-bottom: 50px;
		display: flex;
		justify-content: space-between;
		align-items: end;
		background: url('../public/img/home-bg/background-home-desktop.jpg')
			center center/cover no-repeat;
		text-align: left;
	}

	.destination {
		background: url('../public/img/destination-bg/background-destination-desktop.jpg')
			center center/cover no-repeat;
	}

	.crew {
		background: url('../public/img/crew-bg/background-crew-desktop.jpg')
			center center/cover no-repeat;
		padding-bottom: 0;
	}

	.technology .container {
		width: 100%;
		max-width: none;
	}

	.technology {
		background: url('../public/img/technology-bg/background-technology-desktop.jpg');
		padding-left: 5%;
		padding-right: 0;
	}

	.home__text {
		margin: 0 0;
		margin-top: 70px;
	}

	.home .page__descr {
		text-align: left;
	}

	.pageMainText__crew {
		text-align: left;
		margin-top: 20%;
	}

	.pageMainText {
		text-align: left;
	}

	img.Douglas {
		max-width: 370px;
		width: 57% !important;
	}

	img.Mark {
		min-width: 230px;
		width: 45% !important;
		max-width: 370px;
	}

	img.Victor {
		max-width: 430px;
		width: 65% !important;
	}

	img.Anousheh {
		max-width: 430px;
		width: 75% !important;
	}

	.page .page__uptitle {
		font-size: 28px;
		letter-spacing: 4.725px;
	}

	.page__title {
		font-size: 100px;
	}

	.page__role {
		font-size: 28px;
	}

	.page__descr {
		font-size: 18px;
		line-height: 27px;
		margin-top: 15px;
	}

	.page__fullName {
		font-size: 46px;
	}

	.destination__pagination {
		margin: 0;
	}

	.destination__travel {
		justify-content: start;
	}

	.destination__adventure {
		margin-right: 20px;
		text-align: left;
	}

	.swiper.swiper__destination {
		max-height: 85vh;
		margin-top: 30px;
		height: 70vh;
	}

	.swiper.swiper__technology {
		height: 75vh;
		max-height: 75vh;
		display: flex;
		flex-direction: row;
	}
	.swiper__destination .swiper-wrapper .swiper-slide {
		align-items: end;
	}

	.swiper__technology .swiper-slide {
		display: flex;
		justify-content: end;
	}

	.swiper__technology .swiper-wrapper {
		width: 65%;
		align-items: end !important;
	}

	.swiper__technology .swiper-slide img {
		width: 100% !important;
	}

	.swiper__pagination.technology__pagination {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-right: 20px;
		margin-left: 0;
	}

	.paginationTechnology__elem {
		width: 60px;
		height: 60px;
		margin-bottom: 15px;
	}

	.pageTextAndPagination__technology.container {
		margin: 0;
	}

	.pageTextAndPagination__technology {
		display: flex;
		justify-content: space-between;
		align-items: center;
		max-width: none;
		width: 100% !important;
	}

	.technology__text {
		max-width: 458px;

		margin: 0 auto;
	}

	.swiper.swiper__crew {
		flex-direction: row;
		align-items: center;
		height: 80vh;
	}

	.swiper.swiper__crew .swiper-wrapper .swiper-slide {
		align-items: end;
	}

	.crew__text {
		margin-top: 23%;
	}

	.pageTextAndPagination__technology {
		order: -1;
	}

	.pageTextAndPagination__crew {
		align-items: start;
		justify-content: space-between;
		height: 100%;
	}

	.crew__pagination {
		margin: 0;
		margin-top: 10%;
		margin-bottom: 45px;
	}

	.swiper-pagination-vertical.swiper-pagination-bullets,
	.swiper-vertical > .swiper-pagination-bullets {
		right: 0 !important;
		top: 0 !important;
		transform: none !important;
	}

	.pageTextAndPagination.pageTextAndPagination__destination {
		max-width: 445px;
		margin-top: 10px;
	}

	.paginationPlanet__elem::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		background: var(--descr-color);
		height: 3px;
		width: 100%;
		opacity: 0;
	}

	.paginationPlanet__elem_active::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		background: #ffffff;
		height: 3px;
		width: 100%;
		opacity: 1;
	}

	.paginationPlanet__elem:hover::before {
		opacity: 1;
	}

	.paginationTeam__elem {
		width: 15px;
		height: 15px;
	}

	.container {
		width: 90%;
	}

	.swiper__destination .swiper-wrapper .swiper-slide img {
		width: 70% !important;
	}

	.paginationTechnology__elem:hover {
		border: 1px solid white;
	}

	.paginationTeam__elem:hover {
		opacity: 0.4;
	}

	.ExploreBtn_exploreBtn__PWExE {
		border: 90px solid rgba(255, 255, 255, 0);
		cursor: pointer;
		margin: 0 0;
	}

	.ExploreBtn_exploreBtn__PWExE:hover {
		border: 90px solid rgba(255, 255, 255, 0.2);
	}

	.swiper.swiper__destination {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

@media (min-width: 1280px) {
	.technology {
		padding-left: 10%;
		padding-right: 0;
	}

	.page__underSlider {
		margin-top: 15pxs;
		font-weight: normal;
		font-size: 18px;
		color: var(--descr-color);
	}

	.page__descr {
		font-size: 18px;
		line-height: 32px;
		margin-top: 15px;
	}

	.page__fullName {
		font-size: 52px;
	}

	.page .page__uptitle {
		font-size: 30px;
	}

	.paginationTechnology__elem {
		width: 70px;
		height: 70px;
		margin-bottom: 15px;
	}
}

@media (min-width: 1900px) {
	.swiper.swiper__destination {
		margin-top: 30px;
		max-height: 50vh;
	}

	img.Douglas {
		max-width: 460px;
		width: 60% !important;
	}

	img.Mark {
		min-width: 280px;
		width: 50% !important;
		max-width: 445px;
	}

	img.Victor {
		max-width: 500px;
		width: 65% !important;
	}

	img.Anousheh {
		max-width: 500px;
		width: 75% !important;
	}
}
