* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--uptitle-home-color: #ffffff;
	--descr-color: #d0d6f9;
	--bg-color: #0b0d17;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

nav ul {
	position: relative;
}

h1 {
	margin-top: 0;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

nav ul li.dekstop {
	display: none;
}

nav ul li.mobile {
	display: block;
}

header {
	position: absolute;
	width: 90%;
	height: 56px;
	top: 24px;
	left: 50%;
	transform: translateX(-50%);
}

nav ul a:hover {
	background: rgba(0, 0, 0, 0);
}

.hamburger {
	position: fixed;
	left: 30%;
	top: 0;
	bottom: 0;
	text-align: left;
	bottom: calc(-100vh);
	right: 0px;
	z-index: 10;
	background: rgba(255, 255, 255, 0.04);
	backdrop-filter: blur(37.5485px);
	padding: 35px 0 35px 25px;
}

.hamburger.entering {
	animation: show-mobile-menu 1s forwards;
}

.hamburger.exiting {
	animation: show-mobile-menu 1s reverse;
}

@keyframes show-mobile-menu {
	0% {
		opacity: 0;
		left: 60%;
	}
	100% {
		opacity: 1;
		left: 30%;
	}
}

@keyframes close-mobile-menu {
	0% {
		left: 30%;
		opacity: 1;
	}
	100% {
		opacity: 0;
		left: 60%;
	}
}

.hamburger__close {
	z-index: 15;
	position: absolute;
	right: 26px;
}

.ham__elems {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-top: 65px;
}

.ham__elem {
	display: block;
}

.hamburger a {
	position: relative;
	font-weight: 400;
	color: #ffffff;
	margin-top: 30px;
}

.hamburger a span {
	font-weight: 700;
}

.hamburger a.active::after {
	content: '';
	height: 30px;
	width: 2px;
	background: #fff;
	position: absolute;
	right: 0;
	bottom: -5px;
}

.z-depth-1,
nav,
.card-panel,
.card,
.toast,
.btn,
.btn-large,
.btn-small,
.btn-floating,
.dropdown-content,
.collapsible,
.sidenav {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.page {
	padding-bottom: 2rem;
	text-align: center;
	min-height: 100vh;
	padding-top: 112px;
}

.home {
	background: url('../public/img/home-bg/background-home-mobile.jpg') center
		center/cover no-repeat;
}

.home__uptitle {
	color: var(--descr-color);
}

.page__uptitle {
	color: var(--uptitle-home-color);
	text-transform: uppercase;
	font-size: 20px;
}

.page__uptitle span {
	color: var(--uptitle-home-color);
	letter-spacing: 2.7px;
	mix-blend-mode: normal;
	opacity: 0.25;
}

.page__title {
	color: var(--uptitle-home-color);
}

.page__title_main {
	color: #ffffff;
}

.page__descr {
	color: var(--descr-color);
	font-weight: normal;
	font-size: 15px;
	line-height: 25px;
}

.page__role {
	margin-top: 15px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	text-transform: uppercase;
	color: #ffffff;
	mix-blend-mode: normal;
	opacity: 0.5;
}

.page__fullName {
	margin-top: 0px;
	font-style: normal;
	font-weight: normal;
	font-size: 24px;
	text-transform: uppercase;
	color: #ffffff;
}

.page__underSlider {
	margin-top: 25px;
	font-weight: normal;
	font-size: 14px;
	color: var(--descr-color);
}

.destination {
	background: url('../public/img/destination-bg/background-destination-mobile.jpg')
		center center/cover no-repeat;
}

.destination__pagination {
	max-width: 285px;
	width: 70% !important;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.divider {
	background-color: #383b4b;
	margin-top: 2rem;
}

.divider__slider {
	background-color: #fff;
	height: 1px;
	opacity: 0.5;
}

.destination__adventure {
	font-weight: 400;
	font-size: 28px;
	text-transform: uppercase;
	color: #ffffff;
}

.destination__adventure span {
	letter-spacing: 2.3625px;
	text-transform: uppercase;
	color: #d0d6f9;
	font-weight: 400;
	font-size: 14px;
}

.planets {
	margin-top: 2rem;
	width: 100%;
}

.planet {
	width: 100%;
	height: auto;
}

.swiper {
	margin-top: 30px;
}

.paginationPlanet__elem {
	color: var(--descr-color);
	font-weight: normal;
	height: 36px;
	padding-top: 15px;
	font-size: 14px;
	position: relative;
	cursor: pointer;
	text-transform: uppercase;
}

@media (min-width: 1023px) {
	.paginationPlanet__elem::before {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		background: var(--descr-color);
		height: 3px;
		width: 100%;
		opacity: 0;
	}

	.paginationPlanet__elem:hover::before {
		opacity: 1;
	}

	.paginationTechnology__elem:hover {
		border: 1px solid white;
	}

	.paginationTeam__elem:hover {
		opacity: 0.4;
	}

	.ExploreBtn_exploreBtn__PWExE {
		border: 0 solid rgba(255, 255, 255, 0);
	}

	.ExploreBtn_exploreBtn__PWExE:hover {
		border: 90px solid rgba(255, 255, 255, 0.2);
	}
}

.paginationPlanet__elem_active {
	color: #ffffff;
	font-weight: normal;
	height: 36px;
	padding-top: 15px;
	font-size: 14px;
	position: relative;
}

.paginationPlanet__elem_active::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	background: #ffffff;
	height: 3px;
	width: 100%;
	opacity: 1;
}

.paginationTeam__elem {
	border-radius: 100%;
	width: 10px;
	height: 10px;
	background-color: #fff;
	mix-blend-mode: normal;
	opacity: 0.17;
	cursor: pointer;
}

.paginationTeam__elem_active {
	opacity: 1;
}

.paginationTechnology__elem {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	border: 1px solid rgba(255, 255, 255, 0.25);
	color: #fff;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	text-align: center;
	letter-spacing: 1px;
	cursor: pointer;
}

.paginationTechnology__elem_active {
	color: var(--bg-color);
	background-color: #fff;
}

.team__pagination {
	height: 20px;
	width: 100px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 15px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 30px;
}
.swiper__pagination.tecnology__pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
	max-width: 160px;
}

.swiper__pagination.team__pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
	width: 100px;
}

.crew {
	background: url('../public/img/crew-bg/background-crew-mobile.jpg') center
		center/cover no-repeat;
}

.swiper.swiper__crew .swiper-wrapper .swiper-slide {
	width: 100%;
}

img.Douglas {
	max-width: 342px;
	width: 70% !important;
}

img.Mark {
	max-width: 288px;
}

img.Victor {
	max-width: 314px;
}

img.Anousheh {
	max-width: 341px;
}

.swiper__destination .swiper-wrapper .swiper-slide img {
	width: 65% !important;
	max-width: 445px;
}

@media (min-width: 570px) {
	.swiper.swiper__crew .swiper-wrapper .swiper-slide {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.page__fullName {
		font-size: 35px;
	}

	.page__role {
		font-size: 25px;
	}

	.page__descr {
		font-size: 16px;
	}

	.crew__text {
		order: -1;
	}

	.pageTextAndPagination__crew {
		order: -1;
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		flex-direction: column;
	}

	img.Douglas {
		max-width: 420px;
		width: 70%;
	}

	img.Mark {
		width: 50% !important;
		max-width: 388px;
	}

	img.Victor {
		max-width: 370px;
		width: 60% !important;
	}

	img.Anousheh {
		max-width: 380px;
		width: 60% !important;
	}

	.page {
		padding-top: 96px;
		text-align: left;
	}
	.home {
		background: url('../public/img/home-bg/background-home-tablet.jpg')
			center center/cover no-repeat;
		text-align: center;
	}
	.home .page__descr {
		text-align: center;
	}
	.crew {
		background: url('../public/img/crew-bg/background-crew-tablet.jpg')
			center center/cover no-repeat;
		padding-bottom: 0;
	}
	.destination {
		background: url('../public/img/destination-bg/background-destination-tablet.jpg')
			center center/cover no-repeat;
	}

	.page .page__uptitle {
		margin-top: 50px;
	}
	.technology {
		background: url('../public/img/technology-bg/background-technology-tablet.jpg')
			center center/cover no-repeat;
	}

	.swiper {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.swiper.swiper__crew {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.swiper__destination .swiper-wrapper .swiper-slide {
		width: 100% !important;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.swiper__destination .swiper-wrapper .swiper-slide img {
		width: 55% !important;
		max-width: 445px;
	}

	header {
		display: flex;
		align-items: center;
		width: 100%;
		height: 95px;
		padding-left: 2rem;
		top: 0;
	}

	.swiper__pagination.tecnology__pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
		max-width: 170px;
	}

	.paginationTechnology__elem {
		width: 45px;
		height: 45px;
	}

	.pageTextAndPagination {
		text-align: center;
		max-width: 458px;
	}

	.pageTextAndPagination.pageTextAndPagination__destination {
		max-width: 537px;
		margin: 0 auto;
	}

	.paginationPlanet__elem {
		padding-top: 0;
		font-size: 16px;
	}

	.destination__travel {
		display: flex;
		justify-content: space-around;
	}

	header {
		height: 96px;
		top: 0;
		width: 100%;
	}

	nav .brand-logo.left {
		left: 1.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	nav ul a {
		padding: 0;
	}

	nav ul li.mobile {
		display: none;
	}

	nav ul li.dekstop {
		position: relative;
		display: block;
		height: 100%;
		display: flex;
		align-items: center;
		padding: 0 15px;
		justify-content: center;
		text-transform: uppercase;
		letter-spacing: 2.3625px;
	}

	nav ul li.dekstop.dekstop_active::before {
		content: '';
		height: 3px;
		left: 15px;
		right: 15px;
		position: absolute;
		bottom: 0;
		background: white;
		z-index: 2;
	}

	.transparent {
		height: 100%;
	}

	nav .nav-wrapper {
		display: flex;
		justify-content: end;
		align-items: center;
	}

	ul:not(.browser-default) {
		padding-right: 1.5rem;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: rgba(255, 255, 255, 0.04);
		backdrop-filter: blur(81.5485px);
		min-width: 450px;
		width: 65%;
	}

	.home__text {
		width: 450px;
		margin: 0 auto;
		margin-top: 105px;
	}

	.page__title_main {
		font-weight: normal;
		font-size: 150px;
	}

	.divider__slider {
		display: none;
	}
}
